<h1>All articles listing page</h1>

<main class="container-fluid d-flex p-5 flex-wrap gap-4">
    <% @articles.each do |article|%>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%=article.title %></h5>
                <p class="card-text"><%=article.description %></p>
                <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
                <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
        </div>
    <% end %>
</main>

<div class="container-fluid p-5">
    <%= link_to 'Create new article', new_article_path, class: "btn btn-primary" %>
</div>


